# Entornos virtuales
venv/
.env/
.venv/

# Compilación de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs y bases de datos temporales
*.log
*.sqlite3

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de VS Code
.vscode/

# Archivos de Jupyter y notebooks temporales
.ipynb_checkpoints/

# Archivos de pruebas o cobertura
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/